@charset "UTF-8";
/* ----------------------------- 订单提交 -------------------------------*/
/* line 7, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content {
  font-size: 1.08333em;
}
/* line 9, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  padding: 0.93333rem 0;
}
/* line 14, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status.been .iconfont-circle-check, .payments-wrapper .payments-content .payments-status.been .iconfont-circle-alarm {
  display: none;
}
/* line 17, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status.been .-col-left {
  color: #ef7b2e;
}
/* line 22, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status.done .iconfont-circle-clock, .payments-wrapper .payments-content .payments-status.done .iconfont-circle-alarm {
  display: none;
}
/* line 25, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status.done .payments-info-note {
  margin-right: 1.86667rem;
}
/* line 28, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status.done .-col-left {
  color: #00ceb8;
}
/* line 33, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status.failed .iconfont-circle-check, .payments-wrapper .payments-content .payments-status.failed .iconfont-circle-clock {
  display: none;
}
/* line 36, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status.failed .-col-left {
  color: #ff317a;
}
/* line 40, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status .-col-left {
  width: 1.14667rem;
  height: 1.14667rem;
  line-height: 1.14667rem;
  font-size: 1.33333rem;
  margin-right: 0.4rem;
}
/* line 46, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status .payments-info {
  position: relative;
}
/* line 49, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status .payments-info-title {
  font-size: 1.5em;
  margin-bottom: 0.26667rem;
}
/* line 53, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status .payments-info-note {
  font-size: 1.08333em;
}
/* line 56, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status .payments-info-domain {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 60, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-status .payments-info-domain .btn {
  padding: .35em .4em;
}
/* line 66, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-content .payments-detail-item .-col-value {
  text-align: right;
}
/* line 71, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-detail-list {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  padding: 0.4rem 0.26667rem;
  border-top: 1px solid #e1e1e1;
}
/* line 79, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-detail-item.highlight .-col-value {
  color: #ff317a;
}
/* line 83, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-detail-item:not(:last-child) {
  margin-bottom: 0.2rem;
}
/* line 88, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-branch .-col-right {
  width: 0.66667rem;
  border-left: 1px solid #e1e1e1;
  margin-left: 0.26667rem;
  color: #ff317a;
  text-align: right;
  font-size: 1.08333em;
  height: 0.48rem;
  line-height: 0.48rem;
}
/* line 96, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .payments-branch .-col-right .iconfont-location-arrow {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 101, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .ecommend-wrapper {
  padding-top: 1px;
}
/* line 103, ../../../sass/h5/paycenter/payments.scss */
.payments-wrapper .ecommend-wrapper .line-text {
  margin-bottom: 0;
}

/* line 108, ../../../sass/h5/paycenter/payments.scss */
.dialog-password {
  top: 6rem;
  width: 7.2rem;
  height: inherit;
  border-radius: 0.13333rem;
}
/* line 114, ../../../sass/h5/paycenter/payments.scss */
.dialog-password.error .dialog-header {
  color: #ff317a;
}
/* line 118, ../../../sass/h5/paycenter/payments.scss */
.dialog-password.error .dialog-password-ipts-warp .btn {
  border-color: #ff317a;
}
/* line 123, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .close {
  top: 0.34667rem;
  right: 0.53333rem;
  font-size: 2em;
}
/* line 128, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-main {
  padding: 0 0.4rem;
}
/* line 131, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .price {
  color: #ff317a;
}
/* line 134, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-header {
  padding: 0.48rem 0;
  border-bottom: 1px solid #cdcdcd;
  font-weight: bold;
  text-align: center;
  font-size: 0.4rem;
}
/* line 141, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-password-money {
  height: 1.73333rem;
  line-height: 1.73333rem;
  font-size: 2.5em;
  text-align: center;
  overflow: hidden;
}
/* line 147, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-password-info {
  font-size: 0.26667rem;
  line-height: 0.4rem;
  margin-bottom: 0.4rem;
  color: #666;
}
/* line 153, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-password-ipts-warp {
  padding-bottom: 0.53333rem;
}
/* line 155, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-password-ipts-warp .btn {
  height: 1.04rem;
  line-height: 1.04rem;
  padding: 0;
  border-radius: 0;
}
/* line 160, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-password-ipts-warp .btn:not(:last-child) {
  border-right-width: 0;
}
/* line 163, ../../../sass/h5/paycenter/payments.scss */
.dialog-password .dialog-password-ipts-warp .btn input {
  width: 100%;
  height: 100%;
  font-size: 2.2em;
  vertical-align: top;
  font-weight: bold;
}
