@import "../../oecstore/init.scss";
.edit-shopping-address,.new-shopping-address{
    // 收获信息
    .form-group-wrapper{
        padding-left: px2rem(30px);
        padding-right: px2rem(30px);
    }
    .form-wrapper{
        .well{
            margin-left:0;
            margin-right:0;
        }
    }
}