@charset "UTF-8";
/* ----------------------------- 收藏 -------------------------------*/
/* line 4, ../../../sass/h5/member/favorite.scss */
.favorite-empty {
  margin-top: 1.33333rem;
  margin-bottom: 1.2rem;
}
/* line 5, ../../../sass/oecstore/mixins/_empty-style.scss */
.favorite-empty .empty-info::before {
  height: 2.46667rem;
  background: url("../../../images/member/favorite-empty.png") no-repeat center;
  background-size: contain;
}
/* line 8, ../../../sass/h5/member/favorite.scss */
.favorite-empty .empty-info {
  font-size: 1.08333em;
  line-height: 0.4rem;
}
/* line 11, ../../../sass/h5/member/favorite.scss */
.favorite-empty .empty-info:before {
  margin-bottom: 0.8rem;
  height: 3.73333rem;
}

/* line 19, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .-col-right {
  width: 0.2rem;
  margin: 0 0.26667rem 0;
  font-size: 0.4rem;
  text-align: left;
  color: #999;
}
/* line 26, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .btn-icon-cart {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0.66667rem;
  height: 0.53333rem;
  padding-top: 0.06667rem;
  border: 1px solid #999;
  border-radius: 0.05333rem;
  text-align: center;
  font-size: 0.4rem;
}
/* line 41, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .goods-item.edit .goods-item-main {
  -moz-transform: translate(0.53333rem, 0);
  -ms-transform: translate(0.53333rem, 0);
  -webkit-transform: translate(0.53333rem, 0);
  transform: translate(0.53333rem, 0);
}
/* line 44, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .goods-item.edit .goods-item-aside {
  left: -0.57333rem;
}
/* line 47, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .goods-item.edit .-col-right {
  visibility: hidden;
}
/* line 51, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .goods-item .goods-item-main {
  position: relative;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 56, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .goods-item .goods-item-aside {
  position: absolute;
  left: -13.33333rem;
  top: 1.13333rem;
}
/* line 62, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .goods-item .goods-item-aside .checkbox label:after {
  top: .3em;
}
/* line 68, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .goods-item .goods-item-price {
  font-weight: normal;
}
/* line 73, ../../../sass/h5/member/favorite.scss */
.favorite-wrapper .ecommend-wrapper {
  overflow: hidden;
  margin-top: 0.26667rem;
}
