/* line 4, ../../../sass/h5/member/member.scss */
.member .layout-title .title-cog {
  font-size: 1.15em;
  padding-right: 0.4rem;
}

/* line 12, ../../../sass/h5/member/member.scss */
.member-wrapper .member-header {
  position: relative;
  background-color: #333a49;
  padding: 0.73333rem 0.53333rem 0.73333rem 0.98667rem;
  overflow: hidden;
}
/* line 17, ../../../sass/h5/member/member.scss */
.member-wrapper .member-header::before {
  content: "\e613";
  font-family: "iconfont";
  font-size: 7rem;
  position: absolute;
  left: -2.5rem;
  top: -3rem;
  color: rgba(0, 0, 0, 0.1);
}
/* line 26, ../../../sass/h5/member/member.scss */
.member-wrapper .member-header-main {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
/* line 31, ../../../sass/h5/member/member.scss */
.member-wrapper .member-avator, .member-wrapper .member-info {
  float: left;
  height: 2rem;
}
/* line 35, ../../../sass/h5/member/member.scss */
.member-wrapper .member-avator {
  width: 2rem;
  background-color: #fff;
  border-radius: 50%;
}
/* line 39, ../../../sass/h5/member/member.scss */
.member-wrapper .member-avator img {
  width: 100%;
  height: 100%;
}
/* line 44, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info {
  position: relative;
  left: 0.4rem;
  width: 4rem;
}
/* line 51, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn {
  position: absolute;
  display: block;
  min-width: 2.13333rem;
  max-width: 3.5rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  border-radius: 0;
  padding-left: 0.26667rem;
  padding-right: 0.53333rem;
  border: none;
}
/* line 61, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-login {
  top: 0.09333rem;
  color: #fff;
  background-color: #ff317a;
  border-top-right-radius: 0.13333rem;
}
/* line 65, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-login:before {
  content: '';
  position: absolute;
  left: -0.50667rem;
  background: url(../../../images/cutter-btn-up.png) no-repeat;
  background-size: cover;
  width: 0.53333rem;
  height: 100%;
}
/* line 75, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-register, .member-wrapper .member-info .btn-usr {
  bottom: 0.09333rem;
  color: #333a49;
  background-color: #f5eedf;
  border-bottom-right-radius: 0.13333rem;
}
/* line 79, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-register:before, .member-wrapper .member-info .btn-usr:before {
  content: '';
  position: absolute;
  left: -0.53333rem;
  width: 0.56rem;
  height: 100%;
}
/* line 88, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-register:before {
  background: url(../../../images/cutter-btn-down.png) no-repeat;
  background-size: 100% 100%;
}
/* line 93, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-usr {
  left: -0.08rem;
  bottom: .2em;
  padding-left: 0.13333rem;
  padding-right: 0.26667rem;
  font-size: 0.91667em;
  text-align: left;
}
/* line 101, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-usr:before {
  background: url(../../../images/cutter-btn-down-large.png) no-repeat;
  background-size: 100% 100%;
}
/* line 106, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-rank {
  bottom: 0.8rem;
  height: auto;
  line-height: initial;
  padding: 0.06667rem 0.21333rem;
  text-align: left;
  color: #f5eedf;
  font-size: 0.83333em;
}
/* line 113, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-rank > * {
  vertical-align: initial;
}
/* line 116, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .btn-rank .iconfont {
  margin-right: 0;
  font-size: 1.5em;
}
/* line 121, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .iconfont-male {
  color: #14b2f6;
}
/* line 124, ../../../sass/h5/member/member.scss */
.member-wrapper .member-info .iconfont-female {
  color: #ff317a;
}
/* line 130, ../../../sass/h5/member/member.scss */
.member-wrapper .member-domain .btn-signin {
  color: #f5eedf;
  background-color: transparent;
  border-color: #f5eedf;
  padding-left: 0.26667rem;
  padding-right: 0.26667rem;
}
/* line 134, ../../../sass/h5/member/member.scss */
.member-wrapper .member-domain .btn-signin .iconfont {
  font-size: 1.45em;
}
/* line 140, ../../../sass/h5/member/member.scss */
.member-wrapper .member-orders .value {
  margin-left: .3em;
  font-size: .8em;
  vertical-align: .1em;
  color: #ff317a;
}

/* line 149, ../../../sass/h5/member/member.scss */
.member-overview {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
/* line 152, ../../../sass/h5/member/member.scss */
.member-overview .member-overview-offset {
  position: relative;
  top: 0.2rem;
}
/* line 156, ../../../sass/h5/member/member.scss */
.member-overview .-col-grow-1 {
  text-align: center;
}
/* line 158, ../../../sass/h5/member/member.scss */
.member-overview .-col-grow-1:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

/* line 163, ../../../sass/h5/member/member.scss */
.member-overview-value {
  padding-bottom: 0.21333rem;
  font-size: 1.66667em;
  font-weight: bold;
}
/* line 167, ../../../sass/h5/member/member.scss */
.member-overview-value > .member-overview-unit {
  margin-left: .5em;
  font-size: .5em;
}

/* line 173, ../../../sass/h5/member/member.scss */
.member-overview-deposit .member-overview-value {
  color: #ff317a;
}

/* line 178, ../../../sass/h5/member/member.scss */
.member-overview-vantages .member-overview-value {
  color: #14b2f6;
}

/* line 183, ../../../sass/h5/member/member.scss */
.member-overview-coupons .member-overview-value {
  color: #00ceb8;
}

/* line 187, ../../../sass/h5/member/member.scss */
.member-list {
  padding: 0 0.4rem;
  font-size: 1.25em;
}
/* line 193, ../../../sass/h5/member/member.scss */
.member-list a:not(:last-child) .member-line {
  border-bottom: 1px solid #e1e1e1;
}
/* line 197, ../../../sass/h5/member/member.scss */
.member-list .member-line {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 1.2rem;
  line-height: 1.2rem;
}
/* line 202, ../../../sass/h5/member/member.scss */
.member-list .member-line .iconfont {
  font-size: 1.13333em;
}
/* line 207, ../../../sass/h5/member/member.scss */
.member-list .member-stretch {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}
/* line 212, ../../../sass/h5/member/member.scss */
.member-list .member-line-info .iconfont {
  margin-right: .5em;
}
/* line 216, ../../../sass/h5/member/member.scss */
.member-list .member-line-right {
  color: #999;
  font-size: .8em;
}
/* line 219, ../../../sass/h5/member/member.scss */
.member-list .member-line-right > .iconfont {
  margin-left: .3em;
  margin-right: -.2em;
}
/* line 223, ../../../sass/h5/member/member.scss */
.member-list .member-line-right > * {
  vertical-align: middle;
}
/* line 227, ../../../sass/h5/member/member.scss */
.member-list .btn-group-justified {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/* line 230, ../../../sass/h5/member/member.scss */
.member-list .btn-group-justified > .btn-link:not(:last-child) {
  border-right-color: #e1e1e1;
}
/* line 234, ../../../sass/h5/member/member.scss */
.member-list .btn {
  height: 0.66667rem;
  line-height: 0.66667rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
}
