/* line 2, ../../../sass/h5/passport/passport.scss */
.passport-wrapper {
  position: relative;
  font-size: 1.08333em;
}
/* line 5, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 0.33333rem;
  padding-bottom: 0.33333rem;
  background-color: #fff;
}
/* line 17, ../../../sass/oecstore/mixins/_form.scss */
.passport-wrapper .form-group:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
}
/* line 21, ../../../sass/oecstore/mixins/_form.scss */
.passport-wrapper .form-group:not(:last-child)::before, .passport-wrapper .form-group:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  width: 0.32rem;
  height: 0.32rem;
  bottom: -0.16rem;
}
/* line 29, ../../../sass/oecstore/mixins/_form.scss */
.passport-wrapper .form-group:not(:last-child)::before {
  left: -0.42667rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAAAAADFHGIkAAAAj0lEQVQoz43S2w7DIAgA0P7/ZzbRTUTwUutbN9dml6Ak45ETEcGlvmPL6fETyydfMqsQkPdDQi8VA9yNrQOUxME7swYJXSKhs5d84aQcCW7rJuA6RWDNIeG8idyrAQldIrowgd42AcyB/RRqYVQBtVJRu3xX2vXaA5sykqQMMY1j72nENi4qM+c2Xe1fv+QJH5wozy1XRjgAAAAASUVORK5CYII=') no-repeat;
  background-size: contain;
}
/* line 34, ../../../sass/oecstore/mixins/_form.scss */
.passport-wrapper .form-group:not(:last-child)::after {
  right: -0.42667rem;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAAAAADFHGIkAAAAjklEQVR4AY2SRQKAIBAA/f8v7VqaXU622DnHGUow6HYobXHhEIQ29hxaEgA3AbO0rJm8LMWi0W8TpjD5rAQuB38MNsqrk55Cm2YVV5M+BszK0R/0FHgJcvLnUFVcT/4SavEQQBi8C/AU5NNS9LR5Wz8ct3P3Hzig7q9kKjeXOOHg5tonWqfF9aEW5J+/pAdTYyjTXQwjlwAAAABJRU5ErkJggg==') no-repeat;
  background-size: contain;
}
/* line 41, ../../../sass/oecstore/mixins/_form.scss */
.passport-wrapper .form-group > .form-group-title {
  overflow: hidden;
  white-space: nowrap;
  width: 5em;
  margin-right: 0.2rem;
}
/* line 48, ../../../sass/oecstore/mixins/_form.scss */
.passport-wrapper .form-group .form-group-domain > .iconfont {
  height: 0.93333rem;
  line-height: 0.93333rem;
  padding-left: .4em;
  padding-right: .4em;
  font-size: 1.2em;
  vertical-align: middle;
  color: #bbb;
}
/* line 56, ../../../sass/oecstore/mixins/_form.scss */
.passport-wrapper .form-group .form-group-domain > .btn {
  position: relative;
  height: 0.93333rem;
  line-height: 0.93333rem;
  margin: 0 .2em;
  padding-bottom: 0;
  padding-top: 0;
  top: -0.33333rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0.13333rem;
  border-bottom-left-radius: 0.13333rem;
}
/* line 67, ../../../sass/oecstore/mixins/_form.scss */
.form-group-stretch {
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding-top: 0.59467rem;
}
/* line 71, ../../../sass/oecstore/mixins/_form.scss */
.form-group-stretch .form-group-domain > .iconfont {
  height: 0.65333rem;
  line-height: 1;
}
/* line 8, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .well {
  margin-left: 0;
  margin-right: 0;
}
/* line 12, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group-title {
  margin: 0.4rem 0;
  padding-left: 0.4rem;
}
/* line 15, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group-title + .form-group-wrapper {
  margin-top: 0.4rem;
}
/* line 19, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-tab {
  margin-top: 0.53333rem;
}
/* line 21, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-tab + .form-group-wrapper {
  margin-top: 0;
}
/* line 25, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group-wrapper {
  font-size: 1.15385em;
}
/* line 27, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group-wrapper .btn-image {
  width: 6.5em;
}
/* line 30, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group-wrapper .input-like {
  padding-left: 0.13333rem;
}
/* line 33, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group-wrapper .iconfont-eye,
.passport-wrapper .form-group-wrapper .iconfont-eye-slash {
  font-size: 1.4em;
}
/* line 37, ../../../sass/h5/passport/passport.scss */
.passport-wrapper .form-group-wrapper + .form-group-title {
  margin-top: -0.13333rem;
}

/* line 42, ../../../sass/h5/passport/passport.scss */
.form-tab {
  padding-left: 0.26667rem;
  font-weight: bold;
}
/* line 45, ../../../sass/h5/passport/passport.scss */
.form-tab .btn {
  width: 2.66667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  border-radius: 0.06667rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0.13333rem;
  -webkit-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
}
/* line 52, ../../../sass/h5/passport/passport.scss */
.form-tab .btn-default {
  color: #999;
  background-color: #ddd;
  border-color: transparent;
}
/* line 54, ../../../sass/h5/passport/passport.scss */
.form-tab .btn-default.on {
  color: #333a49;
  background-color: #fff;
  -webkit-box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.02667rem 0.16rem -1px rgba(0, 0, 0, 0.15);
}

/* line 61, ../../../sass/h5/passport/passport.scss */
.passport-register .checkbox {
  color: #666;
}
/* line 63, ../../../sass/h5/passport/passport.scss */
.passport-register .checkbox a {
  color: #333;
}

/* line 68, ../../../sass/h5/passport/passport.scss */
.passport-feedback {
  position: fixed;
  margin-top: -1.09333rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  left: 0.4rem;
  right: 0.4rem;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  border-bottom-right-radius: 0.13333rem;
  border-bottom-left-radius: 0.13333rem;
  z-index: 1;
  -webkit-transition: margin-top, 0.5s, ease-in;
  transition: margin-top, 0.5s, ease-in;
  opacity: 0;
}
/* line 83, ../../../sass/h5/passport/passport.scss */
.passport-feedback.show {
  margin-top: 0;
  opacity: 1;
}

/* line 88, ../../../sass/h5/passport/passport.scss */
.passport-links {
  margin-top: 0.66667rem;
  margin-bottom: 4.4rem;
  font-size: 1.15385em;
}
/* line 91, ../../../sass/h5/passport/passport.scss */
.passport-links div:only-child {
  font-size: 0.92308em;
}
/* line 95, ../../../sass/h5/passport/passport.scss */
.passport-links .btn-link {
  padding-top: 0.13333rem;
  padding-bottom: 0.13333rem;
}

/* line 101, ../../../sass/h5/passport/passport.scss */
.realname-auth-wrapper .upload-imgs-list {
  margin: 0.4rem 0;
}
/* line 104, ../../../sass/h5/passport/passport.scss */
.realname-auth-wrapper .upload-imgs-item {
  width: 4.42667rem;
  height: 2.90667rem;
  background-color: #f5f5f5;
  border: 2px dashed #d8d8d8;
  border-width: 1px;
}
/* line 160, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="2"] .realname-auth-wrapper .upload-imgs-item {
  border-width: 2px;
}
/* line 167, ../../../sass/oecstore/mixins/_tools.scss */
[data-dpr="3"] .realname-auth-wrapper .upload-imgs-item {
  border-width: 3px;
}

/* line 112, ../../../sass/h5/passport/passport.scss */
.other-login {
  margin: 0 0.13333rem 1.06667rem;
  color: #999;
}
/* line 115, ../../../sass/h5/passport/passport.scss */
.other-login .other-login-list {
  margin-top: 0.73333rem;
  padding-left: 0.53333rem;
  padding-right: 0.53333rem;
}
/* line 120, ../../../sass/h5/passport/passport.scss */
.other-login .other-login-item {
  width: 1.33333rem;
  height: 1.33333rem;
  border-radius: 50%;
  overflow: hidden;
}
