<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../lib/flexible.js"></script>
    <link rel="stylesheet" href="../../css/oEcstore.css">
</head>
<body>
<div class="mask"></div>
<!-- picker-slot 为数据列表 最多支持3列 默认居中 -->
<!-- 当有两列时，可使用picker-slot-left 与 picker-slot-right 实现整体居中-->
<!-- picker-slot-divider 为分隔符 供特别定制 -->
<!-- picker-center-highlight 为分隔线 用来标识选中的数据 -->
<div class="dialog dialog-picker on">
    <div class="dialog-header">
        <div class="fl"><span class="dialog-cancel">取消</span></div>
        <div class="fr"><span>清除</span><span class="dialog-confirm">确定</span></div>
    </div>
    <div class="dialog-main">
        <div class="picker">
            <div class="picker-slot picker-slot-left">
                <ul class="picker-slot-wrapper">
                    <li class="picker-item picker-selected">办公用品</li>
                    <li class="picker-item">商品清单</li>
                    <li class="picker-item">电器</li>
                    <li class="picker-item">电器</li>
                    <li class="picker-item">其他</li>
                </ul>
            </div>
            <!-- <div class="picker-slot-divider">
                <div>-</div>
            </div> -->
            <div class="picker-slot picker-slot-right">
                <ul class="picker-slot-wrapper">
                    <li class="picker-item picker-selected">办公用品</li>
                    <li class="picker-item">商品清单</li>
                    <li class="picker-item">电器</li>
                    <li class="picker-item">电器</li>
                    <li class="picker-item">其他</li>
                    <li class="picker-item">其他</li>
                    <li class="picker-item">其他</li>
                </ul>
            </div>
            <!-- <div class="picker-slot picker-slot-center">
                <ul class="picker-slot-wrapper">
                    <li class="picker-item">办公用品</li>
                    <li class="picker-item">商品清单</li>
                    <li class="picker-item picker-selected">电器</li>
                    <li class="picker-item">电器</li>
                    <li class="picker-item">其他</li>
                </ul>
            </div> -->
            <div class="picker-center-highlight"></div>
        </div>
    </div>
</div>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/iscroll-lite.js"></script>
    <script>
        var pickerScrolls = [];
        $(function(){
            // var pickerScrolls = [];

            $('.picker-slot').each(function(index,item){
                var that = this;
                pickerScrolls[index] = new IScroll(that,{
                    mouseWheel: true,
                    tap: true
                });
            });
            $.each(pickerScrolls,function(index,pickerScrollItem){
                var that = pickerScrollItem;
                pickerScrollItem.on('scrollEnd', function(){
                    var height = $('.picker-item').height();
                    var unit = Math.round(that.y / height);
                    $($(that.scroller).children()[Math.abs(unit)]).addClass('picker-selected').siblings().removeClass('picker-selected');
                    if(Math.abs(unit - that.y / height) < 0.05) return;
                    that.scrollTo(0,height * unit,600);
                });
            });
            
            // document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
        });
    </script>
</body>
</html>