@import "oecstore/scaffold.scss";
.form-wrapper{
    border-top:1px solid transparent;
    margin:0 px2rem($gap);
}
.form-group-wrapper {
    margin:$form-margin-vertical 0;
    padding-right: $form-padding-horizontal;
    padding-left:  $form-padding-horizontal;
    border-radius: px2rem(4px);
    background-color:#fff;
    @include box-shadow($form-box-shadow);
    +.checkbox-form{
        margin-top: $form-check-marginTop;
        margin-bottom: $form-check-vertical;
        padding-left:  $passport-padding-horizontal;
    }
}
.form-group {
    position:relative;
    // 有切角
    // @include form-group(px2rem(25px),px2rem(70px),5em,true,$form-padding-horizontal);
    // 无切角
    @include form-group(px2rem(10px),px2rem(70px),5em);
    .input-group {
        @include flex-num(1);
        @include input-group(px2rem(70px),.5em);
        textarea.input-group-control{
            margin-top:1em;
        }
    }
}

.search-group {
    $placeholder-color: #90949b;
    @include input-group(inherit,.62em,both);
    @include height($search-group-height);
    color:$oec-primary-dark;
    text-align:left;
    .iconfont{
        color:$placeholder-color;
    }
    .input-group-control {
        line-height: 1;
        border:1px solid #e8e8e8;
        border-radius:$btn-border-radius-base;
        background-color: #eee;
        @include placeholder($placeholder-color);
        & + .iconfont{
            font-size:1.2em;
            color:$gray-lighter;
        }
    }
}