/* line 2, ../../../sass/h5/gallery/category.scss */
.category {
  height: 100%;
}
/* line 5, ../../../sass/h5/gallery/category.scss */
.category-content {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
/* line 9, ../../../sass/h5/gallery/category.scss */
.category-content > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 16, ../../../sass/h5/gallery/category.scss */
.category-content-first {
  width: 2.66667rem;
  vertical-align: top;
  text-align: center;
}
/* line 20, ../../../sass/h5/gallery/category.scss */
.category-content-first-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 2.66667rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  background-color: whitesmoke;
}
/* line 28, ../../../sass/h5/gallery/category.scss */
.category-content-first-item:first-child {
  border-top-width: 0;
}
/* line 31, ../../../sass/h5/gallery/category.scss */
.category-content-first-item.active {
  border-right-color: #fff;
  background-color: white;
}
/* line 37, ../../../sass/h5/gallery/category.scss */
.category-content-second {
  width: 7.33333rem;
  background-color: white;
  vertical-align: top;
}
/* line 44, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-title > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 0.48rem;
}
/* line 48, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-title-squre {
  width: 0.14667rem;
  height: 0.14667rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 0.16rem;
  margin-right: 0.13333rem;
  background-color: #666666;
}
/* line 56, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-title-h1 {
  margin-right: 0.08rem;
}
/* line 61, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: 0.25333rem;
  margin-left: 0.25333rem;
  margin-bottom: 0.25333rem;
  width: 2.09333rem;
  height: 2.81333rem;
  border: 1px solid #e1e1e1;
  text-align: center;
}
/* line 70, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-item img {
  width: 1.86667rem;
  height: 1.86667rem;
  margin-left: 0.12rem;
  margin-right: 0.10667rem;
  margin-top: 0.14667rem;
}
/* line 77, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-item-label {
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
}
