/* line 2, ../../../sass/h5/gallery/category.scss */
.category {
  height: 100%;
}
/* line 5, ../../../sass/h5/gallery/category.scss */
.category-content {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
/* line 9, ../../../sass/h5/gallery/category.scss */
.category-content > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 16, ../../../sass/h5/gallery/category.scss */
.category-content-first {
  width: 2.66667rem;
  vertical-align: top;
  text-align: center;
}
/* line 20, ../../../sass/h5/gallery/category.scss */
.category-content-first-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 2.66667rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  background-color: whitesmoke;
}
/* line 28, ../../../sass/h5/gallery/category.scss */
.category-content-first-item:first-child {
  border-top-width: 0;
}
/* line 31, ../../../sass/h5/gallery/category.scss */
.category-content-first-item.active {
  border-right-color: #fff;
  background-color: white;
}
/* line 37, ../../../sass/h5/gallery/category.scss */
.category-content-second {
  width: 7.33333rem;
  background-color: white;
  vertical-align: top;
}
/* line 44, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-title > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 0.48rem;
}
/* line 48, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-title-squre {
  width: 0.14667rem;
  height: 0.14667rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 0.16rem;
  margin-right: 0.13333rem;
  background-color: #666666;
}
/* line 56, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-title-h1 {
  margin-right: 0.08rem;
}
/* line 61, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: 0.25333rem;
  margin-left: 0.25333rem;
  margin-bottom: 0.25333rem;
  width: 2.09333rem;
  height: 2.81333rem;
  border: 1px solid #e1e1e1;
  text-align: center;
}
/* line 70, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-item img {
  width: 1.86667rem;
  height: 1.86667rem;
  margin-left: 0.12rem;
  margin-right: 0.10667rem;
  margin-top: 0.14667rem;
}
/* line 77, ../../../sass/h5/gallery/category.scss */
.category-content-second-item-item-label {
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
}

/* line 3, ../../../sass/h5/gallery/gallery.scss */
.gallery.top-layout-page {
  padding-top: 2.26667rem;
}
/* line 6, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper {
  display: inline-block;
  position: relative;
  top: 1px;
}
/* line 10, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper .triangle {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: bottom;
  border-left: 0.30769em solid transparent;
  border-right: 0.30769em solid transparent;
  border-top: 0 solid currentColor;
  border-bottom: 0.30769em solid currentColor;
  display: block;
  vertical-align: middle;
}
/* line 14, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper .triangle.triangle-down {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 18, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper .triangle-up {
  margin-bottom: 0.08rem;
}
/* line 22, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper.asc .triangle-up {
  color: #ff317a;
}
/* line 23, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper.asc .triangle-down {
  color: #999;
}
/* line 26, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper.desc .triangle-down {
  color: #ff317a;
}
/* line 27, ../../../sass/h5/gallery/gallery.scss */
.gallery .sort-triangles-wrapper.desc .triangle-up {
  color: #999;
}
/* line 31, ../../../sass/h5/gallery/gallery.scss */
.gallery .btn-goods-list-filter .triangle-up {
  color: transparent;
}
/* line 36, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-wrapper {
  position: fixed;
  top: 2.26667rem;
  left: 0;
  right: 0;
  height: 100%;
  padding-bottom: 2.25333rem;
  background-color: white;
}
/* line 43, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-header {
  height: 2.13333rem;
}
/* line 46, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-footer {
  height: 1.26667rem;
}
/* line 48, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-footer > .btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 1.5em;
}
/* line 53, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-title {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  height: 1.06667rem;
  line-height: 1.06667rem;
  padding-left: 0.53333rem;
  padding-right: 0.53333rem;
}
/* line 59, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-title:first-child {
  border-bottom-width: 0;
}
/* line 63, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-main {
  overflow: hidden;
}
/* line 65, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-main-left {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #e1e1e1;
}
/* line 70, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-main-left .gallery-filter-menu {
  position: relative;
  width: 2.66667rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  padding-left: 0.53333rem;
  padding-right: 0.6rem;
  background-color: whitesmoke;
  border-bottom: 1px solid #e1e1e1;
}
/* line 79, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-main-left .gallery-filter-menu.select:after {
  content: "\e61c";
  font-family: "iconfont";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  top: 0.4rem;
  right: 0.26667rem;
  font-size: 0.83333em;
  width: 0.26667rem;
  height: 0.26667rem;
  line-height: 0.26667rem;
  color: #ff317a;
}
/* line 91, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-main-left .gallery-filter-menu.active {
  background-color: white;
}
/* line 96, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-main-right {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 99, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-menu-list {
  display: none;
  padding: 0.26667rem 0 0.26667rem 0.26667rem;
  overflow: hidden;
}
/* line 103, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-menu-list.active {
  display: block;
}
/* line 106, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-menu-item {
  position: relative;
  float: left;
  width: 3.25333rem;
  height: 0.73333rem;
  line-height: 0.73333rem;
  margin-bottom: 0.26667rem;
  margin-right: 0.26667rem;
  -moz-border-radius: 0.04rem;
  -webkit-border-radius: 0.04rem;
  border-radius: 0.04rem;
  border: 2px solid #f0f0f0;
  text-align: center;
  background-color: #f0f0f0;
}
/* line 115, ../../../sass/h5/gallery/gallery.scss */
[data-dpr="1"] .gallery-filter-menu-item {
  border-width: 1px;
}
/* line 123, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-menu-item.active {
  border-color: currentColor;
  background-color: white;
  color: #ff317a;
}
/* line 127, ../../../sass/h5/gallery/gallery.scss */
.gallery-filter-menu-item.active:after {
  content: "\e61c";
  font-family: "iconfont";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  top: 0.22667rem;
  right: 0.22667rem;
  font-size: 0.83333em;
  width: 0.26667rem;
  height: 0.26667rem;
  line-height: 0.26667rem;
  color: currentColor;
}
